@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Kanit:wght@500&family=Montserrat:wght@300&family=Work+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

.heading
{
    text-align: center;
    color: #142039;
    font-size: 20px;
}
body {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #272829, #61677A);
}

.calculator {
    border: 1px solid #D8D9DA;
    border-radius: 15px;
    padding: 20px;
    background: transparent;
    box-shadow: 0px 3px 15px #9E9FA5;
}

input {
    width: 300px;
    border: 1px solid;
    padding: 25px;
    margin: 10px;
    border-radius: 10px;
    background: none;
    font-size: 35px;
    text-align: right;
    cursor: pointer;
    color: #D8D9DA
}

input::placeholder {
    color: #D8D9DA
}

button {
    border: none;
    height: 55px;
    width: 55px;
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
    background: transparent;
    color: #D8D9DA;
    box-shadow: -1px -1px 10px rgba(25, 25, 24, 0.624);
    cursor: pointer;
}

.eqlBtn {
    background-color: #FD8D14;
}

.operator {
    color: rgb(87, 217, 87);
}

.clearBtn {
    background-color: rgb(163, 55, 55);
}
